/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #333333;
  --ifm-color-primary-dark: #2e2e2e;
  --ifm-color-primary-darker: #292929;
  --ifm-color-primary-darkest: #242424;
  --ifm-color-primary-light: #383838;
  --ifm-color-primary-lighter: #3d3d3d;
  --ifm-color-primary-lightest: #424242;

  /* These sec*/
  --ifm-color-secondary: #f0f0f0;
  --ifm-color-secondary-dark: #e6e6e6;
  --ifm-color-secondary-darker: #dcdcdc;
  --ifm-color-secondary-darkest: #d2d2d2;
  --ifm-color-secondary-light: #f4f4f4;
  --ifm-color-secondary-lighter: #f9f9f9;
  --ifm-color-secondary-lightest: #ffffff;

  --ifm-code-font-size: 95%;

  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);

  /* DocSearch overrides */
  --docsearch-hit-active-color: var(--ifm-color-secondary-lightest) !important;
  --docsearch-hit-background: var(--ifm-color-secondary-lightest) !important;
  --docsearch-highlight-color: var(--ifm-color-primary-lightest) !important;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--ifm-color-primary-lightest) !important;
  --docsearch-modal-background: var(--ifm-color-secondary-lightest) !important;
  --docsearch-footer-background: var(--ifm-color-secondary-lightest) !important;
  --docsearch-key-shadow: null !important;
  --docsearch-key-gradient: linear-gradient(90deg, var(--ifm-color-primary-lightest), var(--ifm-color-primary)) !important;
  --docsearch-muted-color: #969696 !important;
  --docsearch-searchbox-background: var(--ifm-color-secondary-darker) !important;
  --docsearch-searchbox-focus-background: var(--ifm-color-secondary-dark) !important;
  --docsearch-text-color: var(--ifm-color-primary-dark) !important;

  --feature-card-border-color: #dedede;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f0f0f0; /* Original: #25c2a0, now a light gray */
  --ifm-color-primary-dark: #e6e6e6; /* Original: #21af90, now a slightly darker shade of light gray */
  --ifm-color-primary-darker: #dcdcdc; /* Original: #1fa588, now a more subdued gray */
  --ifm-color-primary-darkest: #d2d2d2; /* Original: #1a8870, now a deeper gray */
  --ifm-color-primary-light: #f4f4f4; /* Original: #29d5b0, now a very light gray */
  --ifm-color-primary-lighter: #f9f9f9; /* Original: #32d8b4, now an even lighter gray, nearing white */
  --ifm-color-primary-lightest: #ffffff; /* Original: #4fddbf, now pure white */

  --ifm-color-secondary: #333333; /* Original: #2e8555, now a dark gray */
  --ifm-color-secondary-dark: #2e2e2e; /* Original: #29784c, now a slightly darker gray */
  --ifm-color-secondary-darker: #292929; /* Original: #277148, now even darker */
  --ifm-color-secondary-darkest: #242424; /* Original: #205d3b, now nearing black */
  --ifm-color-secondary-light: #383838; /* Original: #33925d, now a lighter dark gray */
  --ifm-color-secondary-lighter: #3d3d3d; /* Original: #359962, now a bit lighter */
  --ifm-color-secondary-lightest: #424242; /* Original: #3cad6e, now the lightest dark gray before transitioning to lighter shades */

  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.3); /* Original: rgba(0, 0, 0, 0.3), now a light transparent white */

  /* DocSearch overrides */
  --docsearch-hit-active-color: var(--ifm-color-secondary-darkest) !important;
  --docsearch-hit-background: var(--ifm-color-secondary) !important;
  --docsearch-highlight-color: var(--ifm-color-primary) !important;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--ifm-color-primary-darkest) !important;
  --docsearch-modal-background: var(--ifm-color-secondary-darkest) !important;
  --docsearch-footer-background: var(--ifm-color-secondary-darkest) !important;
  --docsearch-key-shadow: null !important;
  --docsearch-key-gradient: linear-gradient(90deg, var(--ifm-color-primary), var(--ifm-color-primary-darker)) !important;
  --docsearch-muted-color: #969696 !important;
  --docsearch-searchbox-background: var(--ifm-color-secondary-lightest) !important;
  --docsearch-searchbox-focus-background: var(--ifm-color-secondary) !important;
  --docsearch-text-color: var(--ifm-color-primary-dark) !important;

  --feature-card-border-color: #303030;
}

/* Fix margin for faq dropdown titles */
summary > h2 {
  margin: 0;
}

/*Styles for links in paragraphs*/
/*Without this, links look the same as text as default*/
a:not(.table-of-contents__link, .menu__link, .navbar__link, .pagination-nav__link, .theme-edit-this-page, .footer__link-item) {
  /*  add underline*/
  text-decoration: underline;
}

a:not(.table-of-contents__link, .menu__link, .navbar__link, .pagination-nav__link, .theme-edit-this-page, .footer__link-item):hover {
  text-decoration-thickness: 2px;
}

/*NavBar Classes*/
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
  no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
  no-repeat;
}

/*Homepage Hero Classes*/
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px 0;
}

/*404 Page Styles*/
.error-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 25px 0;
  }

  /*Swaps order of `Welcome to Pieces for Developers` and the video on mobile*/
  .hero-container > :nth-child(1) { order: 2; }
  .hero-container > :nth-child(2) { order: 1; }

  .error-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

.feature-card {
  padding: 20px;
  border: 1px solid var(--feature-card-border-color);
  border-radius: 8px;
}

@media (max-width: 820px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .feature-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*CTAButton Classes*/
.cta-button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  padding: 8px 18px;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-secondary);
  font-weight: bold;
  border-radius: 5px;
  /*Had to do it this way because the default Infima button styles were not being overridden on the `:hover` event*/
  text-decoration: none !important;
}

/*Also it didn't like when `:hover` was inside the `cta-button` class so it has to be outside*/
.cta-button:hover {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-secondary-lightest);
}

/*Support Card Classes*/
.support-cards-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1330px) {
  .support-cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.main-card {
  width: 100%;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid #BEBEBE;
}

.main-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.main-card-header-title {
  font-size: 24px;
  /*font-size: 1.5rem;*/
  font-weight: bold;
  margin-left: 12px;
}

/*Sidebar Menu Classes*/
.menu__link--sublist {
  font-weight: bold;
}
